*{
		padding: 0;
		margin: 0;
		font-family: verdana, arial;
		box-sizing: border-box

}
:root{
	--bg-color: #1C1C1C;
	--bg-elements:#4F4F4F;
	--color-link:#DCDCDC;
	--color-link-hover: gold;
	--color-text:#ccc;
}
body{
	background-color: var(--bg-color);
	color: var(--color-text);
}
header, footer{
	background-color: var(--bg-elements);
}
main{
	padding: 50px 0;
}
/*id and class*/
#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}
.container{
	max-width: 1070px;
	margin: 0 auto;
}
.navbar{
	display: flex;
}
.navbar li{
	list-style: none;
}
.navbar a{
	text-decoration: none;
	color: var(--color-link);
	padding: 10px 20px;
}
.navbar a:hover{
	color:var(--color-link-hover);
}
#main{
	display: flex;
	justify-content: space-between;
}
.photo{
	width: 40%;
}
.description{
	width: 55%;
}
#footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

/*responsivo*/

@media(max-width: 860px){
	#header{
		flex-direction: column;
		background-color: yellow;
	}
}